<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{pageTitle}}</title>
</head>

<body style="text-align:center">
    {{> header}}
    <p>
        Here on this page, in the coming future you'll find a Portfolia of Projects.
    </p>
    {{> footer}}
</body>

</html>